.footnote {
  position: fixed;
  bottom: 10px;
  left: 0;
  font-size: 0.5em;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px 12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  top: 3px;
}

input[type='checkbox']:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px 12px rgba(0,0,0,0.05), inset 15px 10px 12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type='checkbox']:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

#title {
	text-shadow: 3px 3px black; 
	color: lightblue;
}

#logo {
	max-height: 250px;
	border: none;
	background: none;
	position: absolute;
	animation: moveLeftToRight 5s linear infinite alternate, spin 5s linear infinite alternate;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes moveLeftToRight {
  0%   { left: -100px; }
  100% { left: 100%; }
}

.container {
	display: flex;
	font-size: 0.55em;
}

.container div {
	width: 50%;
	height: 100px;
}

#versions {
	width: 100%;
	height: 250px;
}

#versions td {
	text-align: center;
	vertical-align: bottom;
}

#versions h1 {
	opacity: 0;
}

@keyframes v11 {
	25% { opacity: 0;}
	100% { opacity: 1; }
}

#v11 {
	animation: v11 5s linear infinite alternate;
}

@keyframes v14 {
	50% { opacity: 0;}
	100% { opacity: 1; }
}

#v14 {
	animation: v14 5s linear infinite alternate;
}

@keyframes v17 {
	75% { opacity: 0;}
	100% { opacity: 1; }
}

#v17 {
	animation: v17 5s linear infinite alternate;
}

@keyframes v20 {
	95% { opacity: 0;}
	100% { opacity: 1; }
}

#v20 {
	animation: v20 5s linear infinite alternate;
}